<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LogBook.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LogBook.Properties.Settings>
            <setting name="dbServerName" serializeAs="String">
                <value>OPI8\SQLExpress</value>
            </setting>
            <setting name="dbInitialCatalog" serializeAs="String">
                <value>GIA_LogBook</value>
            </setting>
            <setting name="dbCheckMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="dbLogin" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="dbPassword" serializeAs="String">
                <value>gfhfuhfa</value>
            </setting>
            <setting name="dbConnectionString" serializeAs="String">
                <value>Data Source = OPI8\SQLExpress; Initial Catalog = GIA_LogBook; Persist Security Info = True; User ID = sa; Password = gfhfuhfa</value>
            </setting>
        </LogBook.Properties.Settings>
    </userSettings>
</configuration>